* {
    background-color: lightblue;
}

.content {
    min-height: 70%;
    width: 90%;
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content {
    margin: 20px 0;
}

.portfolio-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.portfolio-container div img {
    width: 80%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 1rem -1rem blue;
}

.title {
    text-align: center;
}

h1 {
    color: black;
}

h3 {
    color: black;
    font-size: 16px;
    font-weight: normal;
}
